@{
    ViewBag.Title = "Hello";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.get("https://localhost:44340/api/HelloObject", function (data) {
            for (var i = 0; i < 10; i++) {
                $('.message').append("<p>" + data.name + "</p>");
            }
            
        });
    });
</script>

<body>
    <p class="message">
        
    </p>
</body>

